<a href="https://colab.research.google.com/github/Abdul-Rahman258/Practice-of-First-Git-repo-Python-Libraries-and-so-on/blob/master/Python_Practice_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***LISTS***

In [52]:
Mixlist=["Car","Watch","Abdul Rahman",22,"SSUET",22.8,True,"Watch"]
print(Mixlist)
print(len(Mixlist))

['Car', 'Watch', 'Abdul Rahman', 22, 'SSUET', 22.8, True, 'Watch']
8

In [53]:
x = "Car,Watch,Abdul Rahman,22,SSUET,22.8,True,Watch"
my_list = x.split(',')
print(my_list)

['Car', 'Watch', 'Abdul Rahman', '22', 'SSUET', '22.8', 'True', 'Watch']

In [54]:
print(Mixlist[0])
print(Mixlist[1])
print(Mixlist[2])
print(Mixlist[3])
print(Mixlist[4])
print(Mixlist[5])
print(Mixlist[6])

Car
Watch
Abdul Rahman
22
SSUET
22.8
True

it is used to stroe multiple date in a single variable

In [55]:
print(Mixlist[-8:-1])
print(Mixlist[::-1])

['Car', 'Watch', 'Abdul Rahman', 22, 'SSUET', 22.8, True]
['Watch', True, 22.8, 'SSUET', 22, 'Abdul Rahman', 'Watch', 'Car']

In [56]:
if "Watch" in Mixlist:
  print("yes the following element is in the list")
else:
  print("the following element is not in the list")

yes the following element is in the list

In [57]:
Mixlist[2]="Smart watch"
print(Mixlist)

['Car', 'Watch', 'Smart watch', 22, 'SSUET', 22.8, True, 'Watch']

In [58]:
Mixlist[1:3]=["House","Shopping Mall"]
print(Mixlist)

['Car', 'House', 'Shopping Mall', 22, 'SSUET', 22.8, True, 'Watch']

In [59]:
Mixlist.insert(1,"Abdul Rahman Baig")
Mixlist.remove("Abdul Rahman Baig")
Mixlist.pop(1)
del Mixlist[0:3]
print(Mixlist)

['SSUET', 22.8, True, 'Watch']

itratable elements are those elements who can be indexed who can be moved on through each other in number format

In [60]:
thislist_ = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist_.extend(tropical)
print(thislist_)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [61]:
thislist0 = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist0.extend(thistuple)
print(thislist0)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [62]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

thislist1 = [100, 50, 65, 82, 23]
thislist1.sort()
print(thislist1)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]

in sorting upper case will be sorted first then lower case

In [63]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.copy
mylist = list(thislist)
mylist = thislist[:]
print(thislist)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']

In [64]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

# ***TUPLE***

In [46]:
Mytuple= ("Abdul Rahman Baig",22,22.8,"SSUET")
print(len(Mytuple))
print(Mytuple)

4
('Abdul Rahman Baig', 22, 22.8, 'SSUET')

In [47]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

same function as lists in tuple all you have to do i to convert to list first then do any modifications to it

Unpacking a Tuple

In [48]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [49]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

Multiplying a Tuple

In [51]:
fruits = (1, 2, 3)
mytuple = fruits * 2

print(mytuple)

(1, 2, 3, 1, 2, 3)

# ***Sets***

In [65]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

does not accept duplicate other properties are more or less like lists except that it doesnt have indexes its all mixed up

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

JOIN SETS

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

DICTIONARIES AND LISTS ARE THE MOST USED DATATYPES IN PYTHON

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)